
#navbar {
    margin: 0px;
    background-color: #c0b283;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
    line-height: 0px;
    letter-spacing: 0.2rem;
    z-index: 100;
  }

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  } 

#navbar a:hover {
    color: #373737;
  }

#navbar-expand-md{
    margin: 0px;
    padding: 0px
}

img {
  border-radius: 12px;
  width: auto;
  
}

#World-of-Image-parent {
  position: relative;
  height: 500px;
  top: 50;
  left: 0;
}

#World-of-Image-image{
  transform: rotate(-15deg);
  max-height: 300px;
  z-index: -10;
  position: absolute;
  top: 30px;
  left: 70px;
  border-style: groove;
  border-color: #c0b283;
  border: 3px, #373737;
  
}

body{
background: linear-gradient(30deg,#dcd0c0,#f4f4f4);
background-repeat: no-repeat;
background-attachment: fixed;
}



