#WoI p, b, i{
  color: black;
}

#WoI {
  background-color: white;
  background-image: url("WoIIbnArPersonOnlyBG.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-blend-mode: luminosity;
}

#headSpace {
  width: auto;
  height: 30px;
}
#headTitle {
  margin: 0 auto;
  max-width: auto;
  text-align: center;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
  font-size: 50px;
  letter-spacing: 10px;
  font-weight: bold;
}
.otherTitle {
  border-top: 4px dotted black;
  margin: 0 auto;
  max-width: auto;
  text-align: center;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
  font-size: 20px;
  letter-spacing: 10px;
  font-weight: bold;
}
#subTitle {
  margin: 0 auto;
  max-width: auto;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  color: dimgrey;
}
#arabicTitle {
  margin: 0 auto;
  max-width: auto;
  text-align: center;
  font-family: "Droid Arabic Kufi", serif;
  font-size: 20px;
  color: black;
}

.normalText {
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  color: black;
}
.justifiedCentered {
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}

.leftAligned {
  text-align: left;
}

.container {
  text-align: center;
}

.left-div {
  display: inline-block;
  max-width: 400px;
  vertical-align: top;
  padding: 2%;
}

.right-div {
  display: inline-block;
  max-width: 400px;
  padding: 2%;
}

@media screen and (max-width: 800px) {
  .left-div,
  .right-div {
    max-width: 100%;
  }
}

/*  */

/* Parallax base styles
  --------------------------------------------- */

.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
}

.parallax__group {
  position: relative;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax__layer--fore {
  -webkit-transform: translateZ(90px) scale(0.7);
  transform: translateZ(90px) scale(0.7);
  z-index: 1;
}

.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}

.parallax__layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3;
}

.parallax__layer--deep {
  -webkit-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  z-index: 2;
}

.image:hover {
  background-image: radial-gradient(
    circle farthest-side,
    rgb(226, 235, 110),
    rgba(255, 255, 255, 0)
  );
}

#group1 {
  z-index: 4; /* slide over group 2 */
}

#group2 {
  z-index: 3; /* slide under groups 1 and 3 */
}

#group3 {
  z-index: 4; /* slide over group 2 and 4 */
  background-color: white;
}

#group4 {
  z-index: 5; /* slide under group 3 and 5 */
}
