li {
  padding-bottom: 20px;
}

#WoI p, b, i{
  color: black;
}

body {
  background-color: white;
  background-image: url("images/WoIIbnArPersonOnlyBG.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-blend-mode: luminosity;
}

#headSpace {
  width: auto;
  height: 30px;
}
#headTitle {
  margin: 0 auto;
  max-width: auto;
  text-align: center;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
  font-size: 50px;
  letter-spacing: 10px;
  font-weight: bold;
}
.otherTitle {
  border-top: 4px dotted black;
  margin: 0 auto;
  max-width: auto;
  text-align: center;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
  font-size: 20px;
  letter-spacing: 10px;
  font-weight: bold;
}
#subTitle {
  margin: 0 auto;
  max-width: auto;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  color: dimgrey;
}
#arabicTitle {
  margin: 0 auto;
  max-width: auto;
  text-align: center;
  font-family: "Droid Arabic Kufi", serif;
  font-size: 20px;
  color: black;
}

.normalText {
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  color: black;
}
.justifiedCentered {
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}

.leftAligned {
  text-align: left;
}

.container {
  text-align: center;
}

.left-div {
  display: inline-block;
  max-width: 400px;
  vertical-align: top;
  padding: 2%;
}

.right-div {
  display: inline-block;
  max-width: 400px;
  padding: 2%;
}

@media screen and (max-width: 800px) {
  .left-div,
  .right-div {
    max-width: 100%;
  }
}

/*  */

/* Parallax base styles
  --------------------------------------------- */

.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
}

.parallax__group {
  position: relative;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax__layer--fore {
  -webkit-transform: translateZ(90px) scale(0.7);
  transform: translateZ(90px) scale(0.7);
  z-index: 1;
}

.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}

.parallax__layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3;
}

.parallax__layer--deep {
  -webkit-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  z-index: 2;
}

.image:hover {
  background-image: radial-gradient(
    circle farthest-side,
    rgb(226, 235, 110),
    rgba(255, 255, 255, 0)
  );
}

#group1 {
  z-index: 4; /* slide over group 2 */
}

#group2 {
  z-index: 3; /* slide under groups 1 and 3 */
}

#group3 {
  z-index: 4; /* slide over group 2 and 4 */
  background-color: white;
}

#group4 {
  z-index: 5; /* slide under group 3 and 5 */
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 40px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: mintcream;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.resultsSuh {
  padding: 5px 0;
}

.resultsSuh:hover {
  cursor: pointer;
  color: coral;
}

.resultsSuh img {
  vertical-align: middle;
}
.resultsIA {
  padding: 5px 0;
}

.resultsIA:hover {
  cursor: pointer;
  color: steelblue;
}

.resultsIA img {
  vertical-align: middle;
}